{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username" class="form-label">Username</label>
    <input name="username" id="username" class="form-control" required>
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" id="email" class="form-control" required>
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" id="password" class="form-control" required>
    <label for="groups" class="form-label">Groups</label>
    <select name="groups" id="groups" size="5" class="form-select" aria-label="multiple select example" multiple>
      {% for group in groups %}  
        <option value={{group.id}}>{{group.name}}</option>
      {% endfor %}
    </select>
    <div class="form-text">
      <i>Hold Ctrl to select multiple groups</i>
    </div>
    <input type="submit" value="Register" class="btn btn-primary">
  </form>
{% endblock %}
